<%- include("includes/head") %>

<h1 class="page-title">OOPS!</h1>

<div class="highlight">
  <p>Server Sibuk!</p>
  <a href="/" class="btn btn-light">&lt; Kembali ke Beranda</a>
</div>

<%- include("includes/foot") %>
