<%- include("includes/head") %>

<h1 class="page-title">Could not find webinar</h1>

<div class="highlight">
  <p>Webinar ini tidak dibuat atau telah dihapus.</p>
  <a href="/" class="btn btn-light">&lt; Kembali ke Beranda</a>
</div>

<%- include("includes/foot") %>
